body{
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffb6c1;
  line-height: 1.8;
}

img{
  max-width: 100%;
  height: auto;
}

img.frame{
  border: 1px solid #ffb6c1;
}

#container{
  max-width: 600
  px;
  margin: 30px auto;
}

.info{
  background-color: rgb(247, 248, 177);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.name{
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #ffb6c1;
  color: #f87ed0;


}

.btns{
  display: flex;
}

.btns .btn{
  color: #f730a7;
}

.btns .next{
  margin-left: auto;
}

.btns .prev{
  margin-right: auto;
}